
server {
   
  listen $PORT default_server;

   location / {
    root   /usr/share/nginx/html;
    index  algebra.html algebra.htm;
  }
  location /textbooks {
    
    
   
     proxy_pass https://example-backend-1234.herokuapp.com/;
  }
}
