
server {
   
  listen $PORT default_server;

  location https://algebrapracticeproblems.herokuapp.com/games {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }
   location / {
    root   /usr/share/nginx/html;
    index  algebra.html algebra.htm;
  }
}
