
server {
   
  listen $PORT default_server;

   location / {
    root   /usr/share/nginx/html;
    index  algebra.html algebra.htm;
  }
  location /games {
    
    
    index  index.html index.htm
    
  }
}
